@import '../../styles/base.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0 0 0.5rem 0.5rem;

    &__windows {
        width: 90%;
        height: 95%;
        border: solid 0.5px rgba(71, 71, 71, 0.384);
        overflow-x: hidden;
        border-radius: 10px;
        &__header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 3rem;
            background-color: rgb(0, 119, 255);
            padding-right: 1rem;


            span {
                transform: rotate(-90deg);
                transition: transform 0.3s ease-in-out;
            }

            span:hover {
                transform: rotate(90deg);
            }
        }

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 4rem;
            margin-top: 1rem;
            margin-bottom: 2rem;

            p {
                margin-left: 4rem;
                font-size: 32px;

            }

            span {
                margin-right: 2rem;
                cursor: pointer;
                transition: all 300ms ease-in-out;
            }

            span:hover {
                transform: scale(1.1);

            }

            div {
                position: relative;
                top: -50px;
                right: -30px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1rem;
                height: 1rem;
                border-radius: 200px;
                font-size: 12px;
                background-color: rgb(255, 28, 28);
                color: rgb(255, 255, 255);
            }
        }

        .container__midlleBox {
            display: flex;
            justify-content: space-between;

        }

        &__midlle {
            margin-left: 4rem;

            span {
                display: flex;
                align-items: end;
                margin-bottom: 1rem;

                .inputFile {
                    width: 300px;
                    height: 40px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    z-index: 2;
                }

                .containerElement {
                    display: flex;
                    align-items: center;

                    p {
                        font-weight: 300;
                    }
                }

                .upload {
                    margin-left: 0.5rem;
                }

                .ContainerBtnArrow {
                    height: 40px;
                    width: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 0.5rem;

                    .arrowUp:hover,
                    .arrowDown:hover {
                        cursor: pointer;
                        transform: scale(1.5);
                    }

                }

            }

        }

        .container__img {
            display: flex;
            flex-shrink: 1;
            justify-content: center;
            width: 50%;
            height: 100;

            &_item {
                display: flex;
                flex-shrink: 1;
                width: 25.95rem;
                height: 25.95rem;
            }

        }

        .containerBtn {
            width: 100%;
            height: auto;
            padding-left: 4rem;
            margin-block: 2rem;
        }
    }

    .modal__finish__request--closed {
        display: none;
    }

    .modal__finish__request {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(66, 66, 75, 0.479);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30rem;
            height: 80%;
            background-color: aliceblue;
            border-radius: 10px;


            .modal_header {
                display: flex;
                justify-content: end;
                padding-right: 0.5rem;
                margin-bottom: 1rem;
                width: 100%;
                height: 2.5rem;
                background-color: rgb(0, 119, 255);
                border-radius: 10px 10px 0px 0px;

                span {
                    cursor: pointer;
                    transform: rotate(-90deg);
                    transition: transform 0.3s ease-in-out;
                }

                span:hover {
                    transform: rotate(90deg);
                }


            }

            .modal_content {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: calc(100% - 6.5rem);
                padding-top: 1rem;
                overflow: scroll;
                // background-color: aqua;


                span {
                    display: flex;
                    font-size: 14px;
                    align-items: center;
                    width: 90%;
                    height: 5rem;
                    padding-inline: 1rem;
                    border-radius: 10px;
                    background-color: rgb(0, 119, 255);
                    margin-bottom: 1rem;
                    color: aliceblue;

                    img {
                        width: 6.25rem;
                        height: 6.25rem;
                    }

                    div {
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;
                        width: 100%;
                        height: 4rem;
                        margin-left: 1rem;

                        

                    }
                }

            }

            .btnToSend {
                display: flex;
                justify-content: center;
                width: 100%;
                margin: 1rem 0rem 2rem 0rem;
            }
        }

    }
}