@import '../../styles/base.scss';
@import '/src/styles/breakPoint.scss';
@import './respLogin.module.scss';




.container {
    display: flex;
    width: 100vw;
    max-width: 1900px;


    &__screenAnimation {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100%;
        background: linear-gradient(45deg, #000c16, #0895e7, #1b66ac);
        background-size: 100% 300%;
        border-radius: 0px 30px 30px 0px;

        &__title {
            color: aliceblue;
            font-size: $fontSize-title;
            padding: 0.5rem;
            transition: all 1000ms;
            .arrow{
                font-size: 3rem;

            }

        }

        &__title::after {
            content: '';
           
            height: 0.188rem;
            margin-top: 0.9rem;
            background-color: currentColor;
            display: block;
            animation: arrow 4000ms ease-in-out infinite;
            animation: name duration timing-function delay iteration-count direction fill-mode;

        }

        @keyframes arrow {
            0% {
                width: 0%;
                color: rgb(241, 202, 29);
            }
        
            50% {
                width: 40%;
                color: rgb(250, 234, 5);
            }
        
            100% {
               width:  110%;
               color: rgb(250, 234, 5);
            }
        }

        &__title::before {
            content: '';
            
            height: 0.188rem;
            margin-bottom: 0.9rem;
            background-color: currentColor;
            display: block;
            animation: arrowReverse 4000ms ease-in-out infinite;
           
        }

        @keyframes arrowReverse {
            0% {
                width: 110%;
                color: rgb(101, 240, 20);
            }
        
            50% {
                width: 60%;
                color: rgb(101, 240, 20);
            }
        
            100% {
               width:  0%;
               color: rgb(242, 255, 237);
               transition: opacity 0.5s all;
            }
        }






    }

    &__formLogin {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        width: 40%;

        &__btn {
            display: flex;
            justify-content: space-between;
            width: 18.75rem;
            margin-top: 2rem;
        }

        &__span{
            font-size: $fontSize-small;
            margin-top: 1rem;
            width: 18.75rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 1rem;
           
            &_element{
                cursor: pointer;
                color: blue;
                text-decoration: underline;
            }

            &_element:hover{
                color: rgb(98, 0, 255);
            }


        }

    }


}