@import '../../styles//base';

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 4rem;
    background-color: #3B82F6;
    z-index: 1;
    position: absolute;
    border-left: solid 10px rgb(101, 245, 18);
    top: 32px;
    right: 0px;
    transform: translateX(80000px);
    transition: all 6000ms ease-in-out;

    p {
        margin-left: 1rem;
        color: rgb(243, 243, 243);
        font-weight: 500;
    }

    &--active {
        background-color: #3B82F6;
        transform: translateX(0px);
        transition: all 500ms ease-in-out;
    }
}