.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 40px;
    // background-color: red;

    .file_input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: 2;
    }

    .file_label {
        position: relative;
        display: inline-block;
        padding: 0.70rem 1rem;
        // background-color: dodgerblue;
        color: rgb(70, 70, 70);
        border: 1px solid #8f8f8f;
        border-radius: 4px;
        cursor: pointer;
        z-index: 1;
    }

    .file_name {
        margin-top: 10px;
        font-size: 14px;
        color: #333;
    }
}